<!DOCTYPE html>
<html>

<head>
  <title>Custom Directives</title>
  <script src="https://unpkg.com/vue"></script>
</head>

<body>
  <div id="app">
    <p v-demo v-demo:foo.testing="message">{{}</p>
  </div>

  <script type="text/javascript">
    Vue.directive('demo',
      function (el, binding, vnode, oldVnode) {
        var s = JSON.stringify
        el.innerHTML =
          'name: ' + s(binding.name) + '<br>' +
          'value: ' + s(binding.value) + '<br>' +
          'expression: ' + s(binding.expression) + '<br>' +
          'argument: ' + s(binding.arg) + '<br>' +
          'modifiers: ' + s(binding.modifiers) + '<br>' +
          'vnode keys: ' + Object.keys(vnode).join(', ')
      });

    var vm = new Vue({
      el: "#app",
      data: {
        message: 'demo!'
      }
    })
  </script>
</body>

</html>